body {
  background-image: url(https://github.com/dylangit01/DROP-THE-BEAT/blob/main/client/public/images/backgrounds/starry-night.jpg?raw=true);
  background-size: cover;
  color: white;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
