.tracklist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tracklist-album-cover {
  display: flex;
  position: relative;
  margin: 0.5vw;
  border-radius: 8px;
  width: 3.5vw;
  height: auto;
  overflow: hidden;
  opacity: 0.75;

  img {
    position: relative;
    width: inherit;
    height: inherit;
  }

  .question-mark {
    position: absolute;
    top: 25%;
    left: 25%;
    opacity: 0;
  }

  &--finished {
    @extend .tracklist-album-cover;
    // border-width: 3px;
    width: 6vw;
    height: auto;
    opacity: 1;
  }

  &--current {
    @extend .tracklist-album-cover;
    background-color: #505050;
    img {
      opacity: 0;
    }
    .question-mark {
      position: absolute;
      font-size: 3rem;
      top: 23%;
      left: 23%;
      opacity: 1;
    }
    // border-width: 3px;
    width: 6vw;
    height: auto;
    opacity: 60%;
  }
  // &--prev {
  //   @extend .tracklist-album-cover;
  // }

  &--next {
    @extend .tracklist-album-cover;
    background-color: #505050;
    opacity: 60%;

    img {
      opacity: 0;
    }
    .question-mark {
      opacity: 100;
    }
  }
}

.tracklist-album-cover:hover {
  opacity: 1;
}
