.tracklist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tracklist-album-cover {
  display: flex;
  position: relative;
  margin: 10px;
  // border: 1px solid white;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: 0.75;

  img {
    position: relative;
    width: inherit;
    height: inherit;
    z-index: 1;
  }

  .question-mark {
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 25%;
    opacity: 0;
  }

  &--current {
    @extend .tracklist-album-cover;
    // border-width: 3px;
    width: 75px;
    height: 75px;
    opacity: 1;
  }

  // &--prev {
  //   @extend .tracklist-album-cover;
  // }

  &--next {
    @extend .tracklist-album-cover;
    background-color: gray;
    img {
      opacity: 0;
    }
    .question-mark {
      opacity: 100;
    }
  }
}

.tracklist-album-cover:hover {
  opacity: 1;
}
