.home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .headphones-img {
    width: 65vmin;
  }

  .call-to-action {
    width: 80vmin;
    display: flex;
    justify-content: space-between;
    margin-top: 1vmin;
  }
}
