.score-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 11vh;
  width: 33vw;
  background-color: rgba(191, 191, 191, .2);
  // opacity: 40%;
  border-radius: 15px;
  margin: 3vh 0 0 0;
  color: #fff;
  background-image: url('../../../assets/3d\ versus.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 20px 0 20px;

  .scoreDetail{
    display: flex;
    // font-size: small;
    flex-direction: column;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
  }

  .iconNum{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
  }

  .scoreNum {
    width: 30px;
    font-size: 3rem;
  }

  p{
    margin: 0;
  }
  // .score-numbers {
    // position: absolute;
  // }
}