.score-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 10vh;
  width: 35vw;
  background-color: rgba(191, 191, 191, .2);
  // opacity: 40%;
  border-radius: 15px;
  margin: 3vh 0 0 0;
  color: #fff;

  // .score-numbers {
    // position: absolute;
  // }
}