.playlist-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;

  .playlist-page-left {
    margin-right: 5%;
    width: 30vw;
    min-height: 60vh;

    img {
      width: inherit;
      border-radius: 16px;
    }
  }

  .playlist-page-right {
    margin-left: 5%;
    width: 30vw;
    min-height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;

    .game-code-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
