.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 60vh;
  width: 25vw;
  background-color: black;
  opacity: 40%;
  border-radius: 15px;

  .chat-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 2vh 0 2vh 0;
    height: 5vh;
    width: 20vw;
    background-color: white;
    opacity: 100%;
    border-radius: 15px;

    // div.transparentbox {
    //   opacity: 0.6;
    //   margin: 30px;
    // }

      .chat-input {
        border-color: transparent;
        margin: 5%;
        color: #000000;
      }

  }
}