.lobby {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;

  .lobby-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    width: 25vw;

    img {
      width: inherit;
      border-radius: 16px;
    }
  }

  .lobby-right {
    margin-left: 5%;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 16px;

    .change-name-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
