.game-in-progress {
  // margin-top: 0;
  // height: 100vh;
  display: flex;
  justify-content: space-around;

  .right-side {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    position: relative;
    width: 38vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    margin-top: 2rem;

  }

  .left-side {
    display: flex;
    width: 38vw;
    flex-direction: column;
    justify-content: center;

    .countdown {
      align-self: center;
      font-size: 10rem;
    }

    // .music-player {
    //   //padding-bottom: 3vh;
    // }

  }

}

