.messageInput {
  display: grid;
  grid-template-columns: 3fr 10fr;
  background-color: hsl(240deg 53% 21%);
}

.messageInput button {
  margin: 20px;
  padding: 10px;
}

.messageInput input {
  font-size: 24px;
  padding: 3px;
}

.chat-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 2vh 0 2vh 0;
  height: 50vh;
  width: 20vw;
  background-color: white;
  opacity: 100%;
  border-radius: 15px;

  .chat-input {
    border-color: transparent;
    margin: 5%;
    color: #000000;
  }
}
