.round-unknown {
  display: flex;
  justify-content: center;

  div {
    position: relative;
    background-color: #505050;
    opacity: 60%;
    height: 30vw;
    width: 30vw;
    border-radius: 16px;

    .question-mark {
      position: absolute;
      font-size: 15vw;
      top: 25%;
      left: 25%;
      opacity: 1;
    }
  }
}
