.mainNavbarGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftNavbarGroup {
  display: flex;
}

.rightNavbarGroup {
  display: flex;
  
  .greeting {
    color: white;
    padding-right: 30vw;
  }
}

